body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 25px #000000;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: larger;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFC0CB; /* Warna pink */
    box-sizing: 2px solid #1d0308;

}

.hero {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05); /* Sedikit memperbesar gambar saat di-hover */
}


section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin: 0 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FFC0CB; /* Ganti dengan warna pink saat di-hover */
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        max-width: 80px;
    }
}
